<%- include('../layout/includes/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">

</head>
<body>
    <%- include('../layout/includes/navigation.ejs') %>
    <main>
        <h1>My Product</h1>
        <p>List of all product...</p>
    </main>
    <% if (prods.length > 0) { %>
        <% for (let i of prods) { %>
            <p> <%= i.title %>  <%= i.imgURL %> <%= i.price %> <%= i.description %>  </p>
            <%- include("addToCartButton.ejs",{i:i}) %> 
        <% } %>
    <% }else{ %>
        <p> No Product! </p>
    <% } %>
<%- include('../layout/includes/end.ejs') %>